@model Actor

@{
    ViewData["Title"] = "Show Details Actor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Details Actor @Model.FullName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center mb-5 mt-5">
                        <img id="ProfilePicturePreview" style="max-width: 250px" class="border-info rounded-circle"/>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="ProfileImageURL" class="control-label"></label>
                        <input asp-for="ProfileImageURL" class="form-control" readonly />
                        <span asp-validation-for="ProfileImageURL" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" readonly />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="Bio" class="control-label"></label>
                        <input asp-for="Bio" class="form-control" readonly/>
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-secondary" asp-action="Index">Show All</a>
                        <a class="btn btn-success float-end" asp-action="Edit" asp-route-id="@Model.ActorID">Edit</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfileImageURL").val();
        })
    </script>
}
